<div class="card border-2 border-gray-600">
  <div class="card-header">
    <div class="avatar">
      <img class="avatar-img" src="https://avatar.iran.liara.run/username?username=<%= message.user %>" alt="User avatar">
    </div>
    <div>
      <h3 class="text-gray-900"><%= message.user %></h3>
      <p class="date text-gray-700 font-sm"><%= message.added %></p>
    </div>
  </div>
  <div class="card-content">
    <p class="text-gray-800"><%= message.text %></p>
    <% if (showOpenMessage) { %>
      <a href="/messages/<%= message.id %>"><button>Open message</button></a>
    <% } %>
  </div>
</div>
